.chart-tooltip {
  display: flex;
  line-height: 1;
  font-size: 16px;
  color: rgba(154, 213, 248, 1);
  > span {
    width: 8px;
    height: 8px;
    background: linear-gradient(0deg, #00fcff, #00db77);
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 4px;
  }
  > div {
    > div {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      > span:first-child {
        margin-right: 30px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
