#app {
  width: 1058px;
  height: 647px;
  padding: 26px;
  box-sizing: border-box;
  background-color: #000;
}
body {
  background-color: $color;
}
// #app1 {
//   width: 1058px;
//   height: 647px;
//   padding: 26px;
//   box-sizing: border-box;
//   background-color: #000;
// }
